<h1> Josh Toone </h1>
<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/005/090/320/31f75f3.jpg" />
<h2> Profession: Lead Engineer (Build and Release) </h2>
<p> I want to learn to code in Ruby because I would like to use Puppet in my work.  I need to increase automation of application installations. </p>
<a href="http://en.wikipedia.org/wiki/Puppet_%28software%29"> Read More! </a>