<h1> Josh Toone </h1>
<img src="LI_Photo.jpg" />
<h2> Profession: Lead Engineer (Build and Release) </h2>
<p> I want to learn to code in Ruby because I would like to use Puppet in my work.  I need to increase automation of application installations. </p>
<a href="http://en.wikipedia.org/wiki/Puppet_%28software%29"> Read More! </a>